.background
  background: url('./../../assets/images/hackingBackground.jpg') no-repeat
  background-size: contain
  width: 98vw
  max-width: 1760px
  height: 57vw
  max-height: 990px
.outer
  z-index: 1
  position: absolute
  width: 32.6vw
  left: 8.77vw
  top: 17.57vw
  @media (min-width: 1800px)
    left: 158px
    top: 317px
    width: 588px
.inner
  width: 100%
  .hacker-td
    color: #d5dbb5
    width: 3.97vw
    text-align: center
    padding: 0.49vw 0.39vw
    font-size: 1.8vw
    border: 1px solid transparent
    @media (min-width: 1800px)
      font-size: 32px
      width: 71.6px
      padding: 8.8px 7px
    &:hover
      cursor: pointer
      border: 1px solid #a1fbf9
    &.highlightCell
      border: 1px solid #a1fbf9
    &.selected-column
      background-color: #2e322c
  .hacker-row
    display: flex
    justify-content: center
    flex-direction: row

.x-hover
  .hacker-td.selected-column
    background-color: #2e322c
  .hacker-row:hover
    background-color: #39404b
    .hacker-td.selected-column
      background-color: #39404b
.y-hover
  .hacker-td.selected-column
    background-color: #39404b
  .hacker-row:hover
    background-color: #2e322c
    .hacker-td.selected-column
      background-color: #2e322c

.buffer, .solution
  position: absolute
  left: 43.36vw
  top: 9vw
  @media (min-width: 1800px)
    left: 780px
    top: 162px
  .buffer-box, .sequence-box
    align-items: center
    display: flex
    width: fit-content
    color: #d5dbb5
    padding: 0.4vw
    border: 2px solid #7f8854
    @media (min-width: 1800px)
      padding: 7.2px
    .buffer-item, .sequence-item
      width: 3vw
      height: 2.5vw
      padding: 0.05vw
      margin-left: 0.3vw
      border: 1px dotted
      font-size: 1.8vw
      display: flex
      align-items: center
      justify-content: center
      @media (min-width: 1800px)
        padding: 0.9px
        margin-left: 5.4px
        width: 54px
        height: 45px
        font-size: 32px
.solution
  position: absolute
  z-index: 1
  width: 46.1vw
  top: 17.3vw
  color: white
  @media (min-width: 1800px)
    top: 312px
    width: 830px
  .sequence-box
    width: 100%
    border: none
    padding: 0 0.5vw
    @media (min-width: 1800px)
      padding: 0 9px
    &.solved
      background-color: #1bd575
      color: #0d7a41
    &.failed
      background-color: #ff5751
      color: #c82f2b
    .sequence-item
      border: none
      padding: 0.4vw 0.1vw
      @media (min-width: 1800px)
        padding: 7.2px 1.8px
.d-none
  display: none
.sequence-box:not(.solved) .col-highlight
  background-color: #232034
