.background
  background: url('./../../assets/images/hackingBackground.jpg') no-repeat
  background-size: contain
  width: 100vw
  height: 100vh
  position: relative
.outer
  z-index: 1
  position: absolute
  width: 33vw
  left: 9vw
  top: 18vw
.inner
  width: 100%
  .hacker-td
    color: #d5dbb5
    width: 32px
    text-align: center
    padding: 0.5vw
    font-size: 1.8vw
    border: 1px solid transparent
    &:hover
      cursor: pointer
      border: 1px solid #a1fbf9
    &.highlightCell
      border: 1px solid #a1fbf9
    &.selected-column
      background-color: #2e322c
  .hacker-row
    display: flex
    justify-content: center
    flex-direction: row

.x-hover
  .hacker-td.selected-column
    background-color: #2e322c
  .hacker-row:hover
    background-color: #39404b
    .hacker-td.selected-column
      background-color: #39404b
.y-hover
  .hacker-td.selected-column
    background-color: #39404b
  .hacker-row:hover
    background-color: #2e322c
    .hacker-td.selected-column
      background-color: #2e322c

.buffer
  position: absolute
  left: 44.3vw
  top: 9.2vw
  .buffer-box
    align-items: center
    display: flex
    width: fit-content
    color: #d5dbb5
    padding: 0.8vw 0.6vw
    border: 2px solid #7f8854
    .buffer-item
      width: 1.7vw
      height: 1.5vw
      padding: 0.05vw
      margin-left: 3px
      border: 1px dotted
      font-size: 1.5vw
      text-align: center
.solution
  position: absolute
  z-index: 1
  width: 46.6vw
  top: 17.7vw
  left: 45.4vw
  color: white
  .sequence-box
    &.solved
      background-color: #1bd575
      color: #0d7a41
    &.failed
      background-color: #ff5751
      color: #c82f2b
.d-none
  display: none
