<div class="background">
  <div class="outer">
    <div class="inner" [class]="toggleXY ? 'x-hover' : 'y-hover'">
      <div
        *ngFor="let x of matrix"
        class="hacker-row">
        <span
          *ngFor="let y of x; index as i"
          class="hacker-td"
          (click)="clickedElement($event)"
          (mouseenter)="hoveredCol = i; log(hoveredEl); log(x[i])"
          [class.selected-column]="i == hoveredCol"
          [class.highlightCell]="x[i] == hoveredEl">{{ y }}</span>
      </div>
    </div>
  </div>
  <div class="buffer">
    <div class="buffer-box">
      <span *ngFor="let b of buffer" class="buffer-item">{{b}}</span>
      <div class="d-none">Cyberdeck:
        <button (click)="deck(4)">Common</button>
        <button (click)="deck(6)">Rare</button>
        <button (click)="deck(8)">Epic</button>
        <button (click)="deck(12)">Legendary</button>
      </div>
    </div>
  </div>
  <div class="solution">
    <div class="sequence-box"
      *ngFor="let a of solution; index as i"
      [ngClass]="correct(i) ? 'solved' : 'failed'">
      <span
        *ngFor="let x of a; index as i"
        class="sequence-item"
        (mouseenter)="hoveredEl = x"
        (mouseleave)="hoveredEl = ''">{{x}}</span>
        <span class="sequence-description"></span>
    </div>
  </div>
  <button class="d-none" (click)="reset()">reset</button>
  <button class="d-none" (click)="log('')">log</button>
</div>
